*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

header{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	height: 3vw;
	width: 100vw;
	background-color: white;
}

h1{
	text-align: center;
	color: black;
}

nav{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 3vw;
	background-color: black;
	color: white;
}
ul{
	display: flex;
	flex-direction: row;
}
li{
	width: calc(100vw / 5);
	text-align: center;
	list-style: none;
}

.list{
}

.list_w{
	color: darkslategray;
}

.main{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 8000px;
}

article{
	display: flex;
	flex-direction: row;
}

h2{
	font-size: 6.5vw;
	margin: 5px;
	word-break: keep-all;
	color: black;
	text-align: center;
	padding: 20px;
}

.hs{
	color: white;
}

.ha{
	color: white;
}

.hw{
	color: darkslategray;
}

.dfr{
	background-color: white;
	box-shadow: 50px 50px 5px 15px gray;
}

.wfr{
	background-color: white;
	box-shadow: 50px 50px 5px 15px lightyellow;
}

.sfr{
	background-color: white;
	box-shadow: 50px 50px 5px 15px darkred;
}

.a1fr{
	background-color: white;
	box-shadow: 50px 50px 5px 15px black;
}

.a2fr{
	background-color: white;
	box-shadow: 50px 50px 5px 15px black;
}

.tefr{
	background-color: white;
	box-shadow: 50px 50px 5px 15px black;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	background-color: white;
	color: black;
}

.da{
	color: white;
	background-color: black;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 20px 20px 5px 5px gray;
}

.wa{
	color: white;
	background-color: darkslategray;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 20px 20px 5px 5px lightyellow;
}

.sa{
	color: white;
	background-color: black;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 20px 20px 5px 5px darkred;
}

.aa{
	color: black;
	background-color: white;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 20px 20px 5px 5px black;
}

.aa2{
	color: black;
	background-color: white;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 20px 20px 5px 5px black;
}

.aa:hover{
	background-color: black;
	color: white;
}

.aa2:hover{
	background-color: black;
	color: white;
}

section{
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 98vh;
}

summary{
	font-size: 1.6vw;
}

.sum_color{
	color: white;
}

.sum_w{
	color: darkslategray;
}

.date{
	font-size: 3vw;
}

.date_color{
	font-size: 3vw;
	color: white;
}

.date_w{
	font-size: 3vw;
	color: darkslategray;
}

.list_color{
	color: white;
}

.daily{
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: white;
}
.daily2{
	width: 70vw;
	background: linear-gradient(yellow,white);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.week{
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: lightyellow;
}
.week2{
	width: 70vw;
	background: linear-gradient(deepskyblue,white);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.whereisee{
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: darkred;
}
.whereisee2{
	width: 70vw;
	background: linear-gradient(gray,white);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.assay1{
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: black;
}

.assay1_2{
	width: 70vw;
	background: linear-gradient(white,black);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.assay2{
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: white;
}

.assay2_2{
	width: 70vw;
	background: linear-gradient(black,white);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.text{
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: white;
}

.text2{
	width: 70vw;
	background: linear-gradient(black,white);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

@media screen and (max-width: 900px){

	.main{
		display: flex;
		flex-direction: column;
	}

	header{
		background-color: white;
		position: fixed;
		height: 5vh;
	}

	nav{
		position: fixed;
		top: 5vh;
	}

	li{
		word-break: keep-all;
	}

	article{
		display: flex;
		flex-direction: column;
		width: 100vw;
	}

	section{
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 70vh;
	}

	.daily{
		width: 100vw;
		height: 70vh;
	}

	.daily2{
		width: 100vw;
		height: 90vh;
	}

	.week{
		width: 100vw;
		height: 70vh;
	}

	.week2{
		width: 100vw;
		height: 70vh;
	}

	.whereisee{
		width: 100vw;
		height: 70vh;
	}

	.whereisee2{
		width: 100vw;
		height: 70vh;
	}

	.assay1{
		width: 100vw;
		height: 70vh;
	}

	.assay1_2{
		width: 100vw;
		height: 70vh;
	}

	.assay2{
		width: 100vw;
		height: 70vh;
	}

	.assay2_2{
		width: 100vw;
		height: 70vh;
	}

	iframe{
		width: 70vw;
	}

	summary{
		font-size: 4vw;
	}
}