*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

header{
	height: 10vh;
	display: flex;
	flex-direction: column;
	width: 100vw;
	background-color: black;
}

a{
	text-decoration: none;
	color: black;
}
article{
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
}

section{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-between;
	width: calc(100vw / 3);
	height: 80vh;
	font-size: 1.4vw;
	background: linear-gradient(100deg,white 80%,black);
}

footer{
	width: 100vw;
	height: 10vh;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: right;
}

h2{
	height: 400px;
	width: 300px;
	text-align: center;
	margin: 50px;
	font-size: 2.5vw;
}

p{
	margin: 30px;
	width: 20vw;
}

@media screen and (max-width: 900px){

	header{
		display: flex;
		flex-direction: column;
	}

	h2{
		text-decoration: underline;
		font-size: 5vw;
		text-align: left;
		margin: 20px
	}


	article{
		display: flex;
		flex-direction: column;
		height: 100vh;
		background-color: black;
	}

	p{
		font-size: 2vw;
	}

	section{
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: calc(100vh / 3);
		background: linear-gradient(white 90%,black);

	}
}