*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
	background-color: #C20017;
	word-break: keep-all;
}

header{
		margin-top: 50px;
}

.line{
	width: 99vw;
	border-bottom: 1px solid white;
	padding: 0;
	margin: 0;
}
article{
	display: flex;
	flex-direction: row;
	border: 1px solid white;
}

section{
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
	width: calc(100vw / 3);
	background-color: #C20017;
}

.img_art{
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	border: none;
}
.img_sec{
	display: flex;
	flex-direction: row;
	background-color: #C20017;
	border: none;

.colored{
	width: calc(100vw / 3);
}

}
h2{
	text-align: left;
	padding-bottom: 50px;
	background-color: #C20017;
	color: white;
}

h1{
	font-size: 10vw;
	color: white;
}

p{
	color: white;
	background-color: #C20017;
	height: 100px;
}

.red{
	background-color: #C20017;
	font-size: 1vw;
	color: white;
	margin-top: 50px;
}

.more{
	margin: 50px;
}

div{
	margin-left: 15vw;
	margin-right: 15vw;
	margin-top: 7vw;
	margin-bottom: 10vw;
}

a{
	color: white;
	background-color: #C20017;
	font-weight: bold;
	margin-top: 20px;
	font-size: 1vw;
	text-decoration: none;
}
.view{
	margin-bottom: 50px;
}

img{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 15vw;
	height: 10vw;
}

@media screen and (max-width: 900px) {

	img{
		width: 40vw;
		height: 30vw;
	}

	article{
		width: 65vw;
	}
	section{
		width: 100vw;
	}

	p{
	   font-size: 2vw;
	   width: 30vw;
	}

	a{
		font-size: 3vw;
	}

	.i{
		width: 200px;
		height: 150px;
	}

	.col{
	display: flex;
	flex-direction: column;
	}
	.red{
		font-size: 2vw;
	}

	.img_art{
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	border: none;
	}

	.img_sec{
	display: flex;
	flex-direction: column;
	background-color: #C20017;
	border: none;

	.colored{
	margin-right: 0px;
	margin-top: 0px;
	}	

	.more{
	margin: 50px;
	}

}